.app{
    display: flex;
    flex-flow: row nowrap;
}

.topbar, .sidebar {
    background-color: var(--primary);
    padding: .5rem;
}

.menu > a {
    text-decoration: none;
    color: var(--white);
}

.content {
    background-color: var(--grey);
    flex: 1;
}

.info {
    text-align: right;
    font-style: italic;
    font-weight: normal;
    margin-right: .1rem;
    border: 1px solid darkgrey;
}

.body {
    flex-grow: 1;
}